{% extends "base.html" %}

{% block content %}
    {% if user_name %}
        <p>Hi {{ user_name }}!</p>
    {% endif %}
    <!-- form, textarea, input, select -->
    <form method="post" action="/about">
        <input name="contact-name" placeholder="Enter name ...">
        <br>
        <input name="contact-surname" placeholder="Enter surname ...">
        <br>
        <textarea name="contact-message" placeholder="Enter your message"></textarea>
        <br>
        <button type="submit">Send form</button>
    </form>
    <p>About!!!</p>
{% endblock content %}