{% extends "base.html" %}

{% block content %}
    <p>Thank you.</p>
    <p>We have deleted all of your cookies.</p>
    <p>
        <a href="/">Go back to main page</a>
    </p>
{% endblock content %}