{% extends "base.html" %}

{% block content %}
    <p>Thank you {{ name }}.</p>
    <p>We have successfully received your message.</p>
    <p>
        <a href="/">Go back to main page</a>
    </p>
{% endblock content %}