.big-size {
    font-size: 90px;
    letter-spacing: 50px;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: green;
    font-size: 40px;
}

a:visited {
    color: red;
}

p.foo:first-letter {
    font-size: 30px;
}

.image {
  border: 6px black dotted;
}

.image:hover {
  border: 6px red solid;
  width: 100px;
}