.i-am-special {
    /* Positioning */
    position: relative;

    /* Display & Box model */
    width: 400px;
    height: 400px;

    /* Color */
    background: black;

    /* Text */

    /* Other */
}
.i-am-inside-special {
    /* Positioning */
    position: absolute;
    bottom: 0;
    right: 0;

    /* Display & Box model */
    padding: 10px;

    /* Color */
    color: white;
    background: red;

    /* Text */
    text-transform: uppercase;

    /* Other */
}
.gallery-container {
    width: 100%;
    background: red;
}

.gallery-row {
    width: 100%;
    background: yellow;
}

.gallery-picture {
    width: 33%;
    background: cadetblue;
    display: inline-block;
}

.box-1 {
}

.box-2 {
}

a.super-button {
    padding: 5px;
    background: red;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

a.super-button-yellow {
    background: yellow;
    color: black;
}

a.super-button::before {
    content: "\f26e";
    margin-right: 5px;
}

a.super-button::after {
    content: "after";
    margin-left: 5px;
}
