#navigation {
    background-color: #32a852;
    height: 50px;
    width: 300px;
    padding: 5px;
    /* margin: 30px; */
    border: 5px solid yellow;
    position: absolute;
    top: 0;
    right: 0;
    /* fixed, absolute, relative */
    /* top, bottom, left, right */
}

.relative-1 {
    position: relative;
    background-color: red;
    width: 300px;
    height: 30px;
    display: inline;
    /* Display: inline, inline-block, block */
    /* Block - default, takes 100% width */
    /* Inline - takes as much width as needed for the content */
    /* Inline-block - takes the width you specify or just the width of the content */
}

.relative-2 {
    position: relative;
    background-color: green;
    width: 300px;
    height: 30px;
    display: inline;
}

.centered {
    display: block;
    width: 300px;
    background-color: green;
    color: white;
    margin: 0 auto;
}

.square {
    height: 100px;
    width: 100px;
    background-color: green;
    /* Move to right side ... */
    /* 1. */
    /* margin-left: auto; */

    /* 2. */
    /* position: absolute; */
    /* right: 0; */

    /* Middle of screen */
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    /* justify-content: center; */
    flex-row: row;
    flex-flow: row wrap;
}

.container-square {
    height: 400px;
    width: 400px;
    background-color: red;
    margin: 5px;
}