{% extends "base.html" %}

{% block content %}
    {% if user %}
        <p>Hi {{ user.name }}!</p>
        <p>Your email is {{ user.email }}.</p>
    {% else %}
    <h1>Enter some info</h1>
    <form method="post" action="/login">
        User name: <input type="text" name="user-name" placeholder="Name ...">
        <br>
        Email: <input type="email" placeholder="Email ..." name="user-email">
        <br>
        Password: <input type="password" name="user-password">
        <p>
            <button type="submit">Login</button>
        </p>
    </form>
    {% endif %}
{% endblock content %}