{% extends "base.html" %}

{% block title %}Profile page{% endblock title %}

{% block content %}
    <p>Your name is: {{ user.name }}</p>
    <p>Your email is: {{ user.email }}</p>

    <p><a href="/profile/edit">Edit profile</a></p>
    <p><a href="/profile/delete">Delete profile</a></p>
{% endblock content %}