{% extends "base.html" %}

{% block title %}Editing Profile{% endblock title %}

{% block content %}
    <form method="post" action="/profile/edit">
        <p>
            Name: <input type="text" name="profile-name" value="{{ user.name }}">
        </p>
        <p>
            Email: <input type="email" name="profile-email" value="{{ user.email }}">
        </p>
        <button type="submit">Submit</button>
    </form>
{% endblock content %}