{% extends "base.html" %}

{% block title %}Users of the app{% endblock title %}

{% block content %}
    <p>Users of the guess the number game are:</p>
    <ul>
    {% for user in users %}
        <li><a href="/user/{{ user.id }}">{{ user.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock content %}