{% extends "base.html" %}

{% block title %}Showing user {{ user.name }}{% endblock title %}

{% block content %}
    <p>User: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p><a href="/users">Go back</a></p>
{% endblock content %}