<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Languages WOOHOOO!</title>
</head>
<body>
    <p>{{ translations.greeting }}</p>
    <p>Language switch</p>
    <ul>
        <li><a href="/language/en">English</a></li>
        <li><a href="/language/sl">Slovene</a></li>
        <li><a href="/language/fr">French</a></li>
    </ul>
</body>
</html>