{% extends "base.html" %}

{% block title %}Deleting user{% endblock title %}

{% block content %}
    <form method="post">
        <p>Are you sure you want to delete your profile?</p>
        <button type="submit">Yes</button> | <a href="/profile">Cancel</a>
    </form>
{% endblock content %}